SYSTEM = graphene PBE relaxation fixed vacuum
PREC = Accurate
ENCUT = 520
EDIFF = 1E-7
ALGO = Normal
LREAL = .FALSE.
LASPH = .TRUE.
ADDGRID = .TRUE.
ISPIN = 1
ISMEAR = 0
SIGMA = 0.03
IBRION = 2
NSW = 120
EDIFFG = -0.005
ISIF = 2
ISYM = 2
LWAVE = .TRUE.
LCHARG = .TRUE.
