alembic==1.17.2
amqp==5.3.1
annotated-types==0.7.0
anyio==4.12.0
ase==3.23.0
bcrypt==4.0.1
billiard==4.2.4
celery==5.6.0
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
contourpy==1.3.3
cycler==0.12.1
dnspython==2.8.0
email-validator==2.3.0
exceptiongroup==1.3.1
fastapi==0.115.0
fonttools==4.61.1
gunicorn==23.0.0
greenlet==3.3.0
h11==0.16.0
idna==3.11
kiwisolver==1.4.9
kombu==5.6.1
Mako==1.3.10
MarkupSafe==3.0.3
matplotlib==3.10.8
numpy==2.4.0
pymatgen==2025.10.7
packaging==25.0
passlib==1.7.4
pillow==12.0.0
prompt_toolkit==3.0.52
pydantic==2.8.2
pydantic_core==2.20.1
PyJWT==2.9.0
pyparsing==3.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.9
pypdf==5.9.0
redis==7.1.0
spglib==2.6.0
scipy==1.16.3
six==1.17.0
SQLAlchemy==2.0.31
starlette==0.38.6
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
uvicorn==0.30.0
vine==5.1.0
wcwidth==0.2.14
seekpath
feedparser
requests
chromadb
sentence-transformers
transformers==4.53.0
torch
tqdm
mineru
FlagEmbedding

